boto3~=1.26.140
streamlit~=1.27.2
streamlit_chat
langchain~=0.0.218
amazon-textract-response-parser
amazon-textract-prettyprinter
amazon-textract-helper
faiss-cpu
opensearch-py
requests_aws4auth
botocore~=1.29.140
Pillow~=10.0.1
fitz~=0.0.1.dev2